*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-family: var(--font-body);
    line-height: 1.25;
    font-size: 16px;
    color: var(--color1);
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background: var(--bg1);
    background-image: var(--bg3);
    color: var(--color1);
    font-family: var(--font-body);
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

a {
    color: var(--color2);
    text-decoration: none;
    font-family: var(--font-body);
}

a:hover,
a:focus {
    text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 1em;
    text-transform: uppercase;
    line-height: 1.2;
    font-family: var(--font-heading);
}

p {
    margin: 0 0 1em;
    font-family: var(--font-body);
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

header {
    background: var(--bg2);
    color: var(--color1);
    padding: 0.3em;
    font-family: var(--font-heading);
}

header h1 {
    margin: 0;
    font-family: var(--font-display);
}

input[type=text],
input[type=number] {
    line-height: 2em;
    background-color: var(--color1);
    border: 0;
    color: var(--bg1);
    font-family: var(--font-body);
}

button {
    color: var(--color1);
    border: 0;
    border-radius: .2em;
    background: var(--bg2);
    padding: 6px 10px;
    margin: 2px;
    cursor: pointer;
    transition: background .5s;
    font-family: var(--font-heading);
}

button:hover {
    color: var(--color2);
    background: var(--bg1);
}

.muted {
    font-size: .9em;
    color: var(--gray1);
    font-family: var(--font-body);
}

.smaller {
    font-size: .8em;
    font-family: var(--font-body);
}