.user-msg {
    position: fixed;
    bottom: -100px;
    right: 10px;
    background: var(--bg2);
    color: var(--color1);
    padding: 10px;
    border-radius: 0.3em;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.user-msg.open {
    bottom: 10px;
    transition: bottom .5s;
}