@font-face {
    font-family: "Eurofurence";
    src: url("/fonts/eurofurence/eurofurence-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Lato";
    src: url("/fonts/lato/Lato-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Lato";
    src: url("/fonts/lato/Lato-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Anton";
    src: url("/fonts/Anton/Anton-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Bangers";
    src: url("/fonts/Bangers/Bangers-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Luckiest Guy";
    src: url("/fonts/Luckiest_Guy/LuckiestGuy-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Fjalla One";
    src: url("/fonts/Fjalla_One/FjallaOne-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Font Awesome Brands";
    src: url("/fonts/fa/fa-brands-400.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

/* Font variables */
:root {
    --font-body: "Lato", sans-serif;
    --font-heading: "Fjalla One", sans-serif;
    --font-display: "Luckiest Guy", cursive;
}